<div class="card border-primary mb-3">
  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Form Builder</h5>
    <div class="form-check form-switch form-switch-lg d-flex align-items-center">
      <input
        class="form-check-input bg-warning border-warning"
        type="checkbox"
        id="modeToggle"
        [checked]="!isEditMode()"
        (change)="toggleMode()"
        role="switch"
        >
      <label class="form-check-label text-white fw-bold ms-3" for="modeToggle">
        {{ isEditMode() ? 'Edit Mode' : 'View Mode' }}
      </label>
    </div>
  </div>
  <div class="card-body">
    <app-form-builder [isEditMode]="isEditMode()"></app-form-builder>
  </div>
</div>
